<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ye</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>
<div id="app">

    <el-descriptions title="用户信息">
        <el-descriptions-item label="用户名">kooriookami</el-descriptions-item>
        <el-descriptions-item label="手机号">18100000000</el-descriptions-item>
        <el-descriptions-item label="居住地">苏州市</el-descriptions-item>
        <el-descriptions-item label="备注">
            <el-tag size="small">学校</el-tag>
        </el-descriptions-item>
        <el-descriptions-item label="联系地址">江苏省苏州市吴中区吴中大道 1188 号</el-descriptions-item>
    </el-descriptions>
    <el-row>
        <el-button type="primary" id="add">新增</el-button>
        <el-button type="danger" id="exit">退出</el-button>
    </el-row>

    <hr>
    <table border="1" cellspacing="0" width="80%"  h>
        <tr>
            <th  height="50">序号</th>
            <th>品牌名称</th>
            <th>企业名称</th>
            <th>排序</th>
            <th>品牌介绍</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <tr  v-for="(brand,i) in brands">
            <td height="50">{{i+1}}</td>
            <td>{{brand.brandName}}</td>
            <td>{{brand.companyName}}</td>
            <td>{{brand.ordered}}</td>
            <td>{{brand.description}}</td>
            <td v-if="brand.status==1">启用</td>
            <td v-else>禁用</td>
            <td><a :href="editUrl">修改</a> <a
                    :href="deleteUrl" onclick="return confirm('确认删除吗？');">删除</a></td>
        </tr>
    </table>
    <template>
        <el-table
                :data="brands"
                style="width: 100%"
                :row-class-name="tableRowClassName">
            <el-table-column
                    prop="brandName"
                    label="品牌名称">
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="企业名称">
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    label="排序">
            </el-table-column>
            <el-table-column
                    prop="status"
                    label="当前状态">
            </el-table-column>
            <el-table-column
                    prop="description"
                    label="品牌介绍">
            </el-table-column>
        </el-table>
    </template>



</div>
<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="/element-ui/lib/theme-chalk/index.css">
<script>


    document.getElementById("add").onclick = function () {
        location.href = "/login/addBrand.html";

    }
    document.getElementById("exit").onclick = function () {
        location.href = "/login/exitServlet";
    }
    new Vue({
        el: "#app",
        data() {
            return {
                user: {},
                brands: [],
                tableData: [{
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                }, {
                    date: '2016-05-04',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-01',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄',
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }]
            }
        },
        methods: {

            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            }

        },
        mounted() {
            var _this = this;
            axios({
                method: "get",
                url: "http://localhost/login/selectAllServlet"
            }).then(function (resp) {
                _this.brands = resp.data;
            });
            axios({
                method: "get",
                url: "http://localhost/login/userServlet"
            }).then(function (resp1) {
                _this.user = resp1.data;
            });
        }
    });
</script>
</body>
</html>